<div class="event-details">
    <h1>{{ event.title }}</h1>
    <img [src]="event.image" alt="Imagen del evento" />
    <img [src]="event?.imageUrl" alt="{{ event?.name }}" />
    <p>{{ event?.description }}</p>
    <h3>Precio por ticket:</h3>
<div class="price">
  <span *ngIf="event?.discount > 0" class="discounted-price">
    Bs. {{ (event?.price * (1 - event?.discount / 100)).toFixed(2) }}
  </span>
  <span *ngIf="event?.discount > 0" class="original-price">
    <s>Bs. {{ event?.price.toFixed(2) }}</s>
  </span>
  <span *ngIf="event?.discount === 0">
    Bs. {{ event?.price.toFixed(2) }}
  </span>
</div>

    <div class="quantity-selector">
      <button (click)="quantity = Math.max(1, quantity - 1)">-</button>
      <input type="number" [(ngModel)]="quantity" min="1" />
      <button (click)="quantity = quantity + 1">+</button>
    </div>
  
    <div class="actions">
      <button (click)="addToCart()">Añadir al carrito</button>
    </div>
  </div>
  
