<div class="history-container">
  <h1 class="title">Historial de Compras</h1>
  <div *ngIf="purchases.length > 0; else noPurchases">
    <div class="purchase-card" *ngFor="let purchase of purchases">
      <div class="purchase-details">
        <h3>Compra realizada el {{ purchase.formattedDate }}</h3>
        <div class="purchase-items">
          <div *ngFor="let item of purchase.items" class="item-detail">
            <p><strong>{{ item.eventTitle }}</strong></p>
            <p>{{ item.quantity }} x Bs. {{ item.pricePerTicket.toFixed(2) }}</p>
            <p><strong>Subtotal:</strong> Bs. {{ (item.quantity * item.pricePerTicket).toFixed(2) }}</p>
          </div>
        </div>
        <p class="total"><strong>Total General:</strong> Bs. {{ purchase.total.toFixed(2) }}</p>
      </div>
    </div>
  </div>
  <ng-template #noPurchases>
    <p class="no-purchases">No tienes compras registradas.</p>
  </ng-template>
  <div class="actions">
    <button class="btn-back" (click)="goToEvents()">Volver</button>
  </div>
</div>
